<%= link_to('Back', 'javascript:history.back()') %>

<div class="team roster new">
  <h2>Update member</h2>

  <%= form_for(@student, :url => event_index_path, :method => 'patch') do |f| %>

    <table summary="students form fields">
        <tr>
            <th>First name</th>
            <td><%= f.text_field(:first_name) %></td>
        </tr>
        <tr>
            <th>Last name</th>
            <td><%= f.text_field(:last_name) %></td>
        </tr>
        <tr>
            <th>Class year</th>
            <td><%= f.text_field(:class_year) %></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><%= f.text_field(:email) %></td>
        </tr>
        <tr>
            <th>Phone number</th>
            <td><%= f.text_field(:phone) %></td>
        </tr>

    </table>

    <div class="form-buttons">
      <%= f.submit("Update student") %>
    </div>

  <% end %>
</div>