<h1>User#team_roster</h1>
<%= link_to('Event Page', {controller: 'user', action: 'event'}) %>
<%= link_to('Commitment Page', {controller: 'user', action: 'commitment'}) %>
<%= link_to('Calendar Page', {controller: 'user', action: 'calendar'}) %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>


<div>
  <h2>Team Roster</h2>

  <%= link_to("Add New Student", {controller: 'user', action: 'new'} , :class => 'action new') %>

  <table>
    <tr class="header">
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Class Year</th>
      <th>A&M Eamil</th>
      <th>Phone Number</th>
    </tr>
    <% @student.each do |student| %>
    <tr>
      <td><%= student.id %></td>
      <td><%= student.first_name %></td>
      <td><%= student.last_name %></td>
      <td><%= student.class_year %></td>
      <td><%= student.email %></td>
      <td><%= student.phone %></td>
    </tr>
    <% end %>
  </table>
</div>

